<!DOCTYPE html>
<html>

    <form action = "/checkout" method = "post">
  <h1>Enter text here</h1>
  <br>
  <textarea name="item"></textarea>
  <button name="submit" type="submit" id="submit">
  </form>
  
  
</html>
